.workout-item-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
}

.workout-item-container > article {
  border: 0.5vmin solid yellow;
  padding: 2vmin;
  border-radius: 0.8vmin;
}